<% include header.ejs %>

<!--Main layout-->
<main>
    <div class="row" style="margin-left: 10px;">
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card" style="border-left: 5px solid black; cursor: pointer;">
                <div class="card-body">
                    <div class="card-title">
                        Orders
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-right"></span> <%= orders.length %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card" style="border-left: 5px solid blue; cursor: pointer;">
                <div class="card-body">
                    <div class="card-title">
                       Orders Active
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-up"></span> 6
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card" style="border-left: 5px solid red; cursor: pointer;">
                <div class="card-body">
                    <div class="card-title">
                        Orders Canceled
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-down"></span> 0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card" style="border-left: 5px solid yellow; cursor: pointer;">
                <div class="card-body">
                    <div class="card-title">
                        Orders Returns
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-left"></span> 0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card"
                style="border-left: 5px solid green; cursor: pointer;"
                onclick="showDelivered()">
                <div class="card-body">
                    <div class="card-title">
                        Orders Delivered
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-up"></span> 0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3  col-md-4 col-sm-6 mb-2">
            <div class="card" style="border-left: 5px solid red; cursor: pointer;">
                <div class="card-body">
                    <div class="card-title">
                        Sales
                    </div>
                    <div class="card-text">
                        <span class="fa fa-angle-double-right"></span> 6
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="d-flex justify-content-center">Active Orders</h3>
        <table class="tableData" class="table table-striped table-bordered">
            <thead>
                <th>Order Code</th>
                <th>Retailer</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Details</th>
                <th>State</th>
            </thead>
            <tbody>
                <% orders.forEach( (order) => { time = moment(order.created_at).add(5, 'h'); time1 = moment(time).add(30, 'm'); %>  
                <tr>
                    <td>
                    <%= order.sales_order_code %>
                </td>
                <td>
                    <%= order.pharmacy_id.pharma_name %>
                </td>
                <td>
                    <%= order.grand_total %>
                </td>
                <td>
                    <%= moment(time1).format('YYYY/MM/DD hh:mm a') %>
                </td>
                <td>Show Details</td>
                <td>State</td>
            </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>

<% include footer.ejs %>

<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
    new WOW().init();
    
    $(document).ready(function () {
        $('.tableData').DataTable({
            "responsive": true,
            "order": [[ 0, "desc" ]]
        });
    });

    function showDelivered() {
        window.alert('hie');
    }
</script>

</body>

</html>